---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Title from "../components/parts/Link.astro";

const blogs = await getCollection("blogs");
---

<Layout title="Blogs">
  {
    blogs.map(({ data, slug }) => (
      <div class="shadow rounded-md p-6 space-y-2 mx-2 hover:shadow-lg transition">
        <Title href={`blog/${slug}`} text={data.title} />
        <p class="text-sm">{data.date}</p>
        <p class="text-sm">{data.blurb}</p>
      </div>
    ))
  }
</Layout>
