---
import Layout from "../layouts/Layout.astro";
import Blogs from "../components/Blogs.astro";
import Intro from "../components/Intro.astro";
---

<Layout title="Josh">
  <div class="grid grid-cols-2 max-laptop:grid-cols-1 gap-x-5">
    <Intro />
    <Blogs />
  </div>
  <!-- <Intro />
    {blogs.map((test) => test.data.title)}
     -->
</Layout>
