---
import { getCollection } from "astro:content";
import Title from "./parts/Title.astro";

// TODO: blogs implementation
const blogs = await getCollection("blogs");
---

<div class="max-laptop:pt-8">
  <Title href="/blogs" text="Latest Posts" />
  {
    blogs.map((blog) => (
      <div>
        <p class="pt-4 cursor-pointer max-w-fit hover:text-secondary transition ">
          <a href={`blog/${blog.id}`}>{blog.data.title}</a>
        </p>
        <p class="text-sm">{blog.data.date}</p>
      </div>
    ))
  }
</div>
