---
import { getCollection } from "astro:content";
import Title from "./parts/Link.astro";

const blogs = await getCollection("blogs");
---

<div class="max-laptop:pt-8">
  <Title href="/blogs" text="Latest Posts" />
  {
    blogs.map((blog) => (
      <div class="mt-5">
        <a
          href={`blog/${blog.id}`}
          class="cursor-pointer max-w-fit hover:text-secondary transition text-2xl"
        >
          {blog.data.title}
        </a>
        <p class="text-sm">{blog.data.date}</p>
      </div>
    ))
  }
</div>
