---
const { pathname } = Astro.url;

const active = "/" === pathname;

const navs = [
  { href: "/", label: "JC" },
  { href: "/blogs", label: "Blogs" },
  { href: "/projects", label: "Projects" },
];
---

<header class="py-8 flex justify-between items-center space-x-3 h-32">
  <div class="space-x-3 hidden min-[732px]:flex">
    <a href="/" class="fill-primary hover:text-secondary transition">
      <h1
        class={`font-bold text-3xl before:content-['(◠‿◠)'] before:text-secondary ${
          active && "text-secondary"
        } `}
      >
        &nbsp;Josh Chappelow
      </h1>
    </a>
  </div>
  <div class="flex space-x-3">
    {
      navs.map(({ href, label }) => (
        <a
          href={href}
          class={` fill-primary hover:text-secondary transition ${
            label === "JC" && "hidden max-[731px]:flex"
          } ${pathname == href && "text-secondary"}`}
        >
          <h1 class="font-bold text-3xl">{label}</h1>
        </a>
      ))
    }
  </div>
</header>
<hr class="rounded-md text-primary dark:text-white border mb-8" />
