---
import Title from "./parts/Title.astro";

const intro =
  "Hello, I'm Josh, a software engineer living and working in Japan. I primarily focus on front-end development but recently have found myself playing around with the back-end too.";

const intro2 =
  "I plan to add more content here soon including, but not limited to, projects, blog posts and general shithousery.";
---

<div class="w-full max-laptop:col-span-2">
  <Title text="いらっしゃいませ" />
  <p class={`text-primary text-2xl dark:text-white pt-7`}>
    {intro}
  </p>
  <p class={`text-primary text-2xl dark:text-white`}>
    {intro2}
  </p>
</div>
