---
type Props = {
  href?: string;
  text: string;
};

const { href, text } = Astro.props;
---

<a href={href} class="block w-fit">
  <h2
    class="text-2xl font-semibold w-fit after:content-[''] after:block after:h-1 after:rounded-md after:bg-secondary hover:text-secondary transition ease-in-out after:hover:transition"
  >
    {text}
  </h2>
</a>
